In [10]:
# panda's df equivalent in pyyhon is dict
people = {
    "name" : ["vaibhav","dwivedi","deadpool"],
    "age"  : [23,32,33],
    "email": ["vaibhav@gmail.com","dwivedi@gmail.com","deadpool@gmail,com"]
}
people['email']
# that is actually a columar format data

['vaibhav@gmail.com', 'dwivedi@gmail.com', 'deadpool@gmail,com']

In [12]:
import pandas as pd

In [13]:
# converting python 2D matrix into a panda's dataframe
df_people = pd.DataFrame(people)
df_people

       name  age               email
0   vaibhav   23   vaibhav@gmail.com
1   dwivedi   32   dwivedi@gmail.com
2  deadpool   33  deadpool@gmail,com

In [22]:
df_people.set_index('email')

                        name  age
email
vaibhav@gmail.com    vaibhav   23
dwivedi@gmail.com    dwivedi   32
deadpool@gmail,com  deadpool   33

In [14]:
df_people.email

0     vaibhav@gmail.com
1     dwivedi@gmail.com
2    deadpool@gmail,com
Name: email, dtype: object

In [15]:
# to get single column
print(df_people['email'])
type(df_people['email'])

0     vaibhav@gmail.com
1     dwivedi@gmail.com
2    deadpool@gmail,com
Name: email, dtype: object

pandas.core.series.Series

In [16]:
# to get list of columns
print(df_people[["name","email"]])
type(df_people[["name","email"]])

       name               email
0   vaibhav   vaibhav@gmail.com
1   dwivedi   dwivedi@gmail.com
2  deadpool  deadpool@gmail,com

pandas.core.frame.DataFrame

In [17]:
df_people.columns

Index(['name', 'age', 'email'], dtype='object')

In [18]:
# to get single rows via index
df_people.iloc[1]

name               dwivedi
age                     32
email    dwivedi@gmail.com
Name: 1, dtype: object

In [19]:
# to get list of rows via index
df_people.iloc[[0,2]]

       name  age               email
0   vaibhav   23   vaibhav@gmail.com
2  deadpool   33  deadpool@gmail,com

In [20]:
# getting rows and columns
df_people.iloc[[0,2],[1]]

   age
0   23
2   33

In [21]:
df_people.loc[[0,2],['email','age']]

                email  age
0   vaibhav@gmail.com   23
2  deadpool@gmail,com   33