In [1]:
import pandas as pd

In [8]:
# panda's df equivalent in pyyhon is dict
people = {
    "name" : ["vaibhav","dwivedi","deadpool"],
    "age"  : [23,32,33],
    "email": ["vaibhav@gmail.com","dwivedi@gmail.com","deadpool@gmail,com"]
}
people['email']
# that is actually a columar format data

df_people = pd.DataFrame(people)
df_people['email']

0     vaibhav@gmail.com
1     dwivedi@gmail.com
2    deadpool@gmail,com
Name: email, dtype: object

In [9]:
df_people.set_index('email')

                        name  age
email
vaibhav@gmail.com    vaibhav   23
dwivedi@gmail.com    dwivedi   32
deadpool@gmail,com  deadpool   33

In [10]:
df_people['email']

0     vaibhav@gmail.com
1     dwivedi@gmail.com
2    deadpool@gmail,com
Name: email, dtype: object